.ask-question-wrapper {
  width: 90%;
  @include editor-wrapper;
}

.title-wrapper {
  @include ask-question-input-wrappers;
  label {
    @include ask-question-labels;
  }
  .title-input {
    width: 85%;
    height: inherit;
    padding: 0;
    border: $input-border-green;
    text-indent: 5px;
  }
}

.user-name-wrapper {
  @include ask-question-input-wrappers;
  label {
    @include ask-question-labels;
  }
  .user-name-input {
    width: 85%;
    height: inherit;
    padding: 0;
    border: $input-border-green;
    text-indent: 5px;
  }
}

.add-tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}