.ask-question-wrapper {
  padding: 10px 0;
  .ask-question-header {
    margin: 10px 0;
    font-size: 1.4em;
  }
  .submit-question--btn {
    max-width: 300px;
    @include btn-styling;
    float: right;
  }
}

.title-wrapper {
  @include ask-question-input-wrappers;
  label {
    @include ask-question-labels;
  }
  .title-input {
    width: 85%;
    height: inherit;
    padding: 0;
    border: $input-border-green;
    text-indent: 5px;
  }
}

.user-name-wrapper {
  @include ask-question-input-wrappers;
  label {
    @include ask-question-labels;
  }
  .user-name-input {
    width: 85%;
    height: inherit;
    padding: 0;
    border: $input-border-green;
    text-indent: 5px;
  }
}

.add-tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}