.btn {
	background: $turing-green;
	cursor: pointer;
}

.search--btn {
	height: inherit;
	width: 30px;
	padding: 0;
	border: none;
	border-top-right-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	background: $turing-green;
	color: $white;
	cursor: pointer;
	&:after {
		display: inline-block;
		content: "";
		width: 15px;
		height: 15px;
		background: $magnifier-glass;
		background-size: 15px 15px;
	}
}

.vote-up {
	@include vote-btn;
}

.vote-down {
	@include vote-btn;
	transform: rotate(180deg);
}

.show-answer--btn {
	float: right;
	margin: 20px 0 0 0;
	@include btn-styling;
	&:after {
		transform: rotate(90deg)
	}
}

.submit-answer--btn {
	max-width: 300px;
	@include btn-styling;
	float: right;
}

.login--btn {
	@include loginLogoutBtn;
}

.logout--btn {
	@include loginLogoutBtn;
	width: 74px;
	height: 35px;
	&:after {
		display: none;
	}
}

@media screen and (min-width: 500px) {
  .search--btn {
		width: 35px;
	}
}