.dashboard {
  padding: 10px;
  .dashboard-header {
    margin: 10px 0;
    font-size: 1.4em;
    color: $default-grey
  }
  .add-question-link {
    @include btn-styling;
  }
  .dashboard-questions-wrapper {
    max-width: 600px;
  }
  .dashboard-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 350px) {
  .dashboard{
    .add-question-link{
      font-size: 18px;
    }
  }
}
