.dashboard {
  display: flex;
  justify-content: space-around;
  padding: 80px 10px 10px 10px;
  .dashboard-header {
    margin: 10px 0;
    font-size: 1.4em;
    color: $default-grey
  }
  .add-question-link {
    @include btn-styling;
  }
  .dashboard-questions-wrapper {
    width: 100%;
    max-width: 600px;
    height: 90vh;
    overflow: scroll;
  }
  .dashboard-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.popular-data {
  display: none;
  width: calc(100% / 2 - 20px);
  max-width: 425px;
}

.popular-questions-wrapper {
  margin: 19px 0;
  padding: 8px;
  border: 1px solid $turing-green;
  .popular-question {
    display: flex;
    margin: 10px 0;
    .popular-views {
      display: table;
      width: 40px;
    }
    .title-link {
      font-size: 0.8em;
    }
  }
}

@media screen and (min-width: 350px) {
  .dashboard{
    .add-question-link{
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 625px) {
  .dashboard{

    .dashboard-questions-wrapper {
      width: calc(100% / 1 - 20px);
      margin: 0 10px;
    }
    .popular-data {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
    }
  }
}
