.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(34,34,40,0.94);
  color: $white;
  .modal-header {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 2.8em;
    &:before {
      display: inline-block;
      content: "";
      width: 60px;
      height: 60px;
      margin-right: 5px;
      background: $turing-logo;
      background-size: 60px 60px;
    }
  }
  .modal-question {
    margin: 15px 0;
    font-size: 1.8em;
  }
  div {
    display: flex;
    button {
      @include loginLogoutBtn;
      justify-content: center;
      margin: 5px;
      width: 110px;
      height: 35px;
      &:after {
        display: none;
      }
    }
  }
  .modal-user {
    position: absolute;
    top: 10px;
    right: 10px;
    .modal-user--image {
      height: 50px;
      margin-left: 10px;
      border-radius: 2.5px;
    }
  }
}