.question-wrapper{
  display: flex;
  flex-direction: column-reverse;
  margin: 19px auto;
  padding: 8px;
  border: 1px solid $dark-grey;
  border-radius: 2.5px;
  .count-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 0.9em;
    div {
      text-align: center;
    }
  }
  h4, h5 {
    float: right;
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 0.7em;
  }
  .main-created-at {
    font-weight: $normal;
  }
  .answered {
    color: green;
  }
}

@media screen and (min-width: 625px) {
  .question-wrapper {
    flex-direction: row;
    .count-wrapper {
      flex-direction: column;
      width: calc(100% / 5);
      margin: 0 20px 0 0;
    }
    .summary-wrapper {
      width: calc(100% / 1.3);
    }
  }
}
