// @import 'reset';
@import 'variables';
@import 'NavBar';
@import 'Button';
@import 'Search';
@import 'SearchResults';
@import 'Dashboard';
@import 'MainQuestion';
@import 'QuestionDetail';
@import 'AskQuestion';
@import 'TagLink';
@import 'AnswerDetail';
@import 'UserVoteDetails';
@import 'LogoutModal';

body {
  background: lighten($main-background, 18%);
  margin: 0;
  font-family: $main-font;
  color: default-grey;
}

a {
  color: $link-color;
  &:visited {
    color: $link-color;
  }
  &:hover {
    color: $link-hover;
  }
}

code {
  margin: 10px 0;
}

.ask-question-wrapper {
  .editor-toolbar.fullscreen {
    top: 80px;
  }
  .CodeMirror-fullscreen,
  .editor-preview-side {
    top: 130px;
  }
}

::-webkit-input-placeholder {
  font-family: $main-font;
}

.s-alert-box {
  .s-alert-box-inner {
    font-size: 0.8em;
    text-align: center;
  }
}
