.question-wrapper{
  display: flex;
  flex-direction: column-reverse;
  margin: 5px auto;
  padding: 8px;
  border: 1px solid $turing-green;
  max-width: 813px;
  .count-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9em;
    div {
      text-align: center;
    }
  }
  h4, h5 {
    float: right;
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 0.7em;
  }
  .main-created-at {
    font-weight: $normal;
  }
}
