// @import 'reset';
@import 'variables';
@import 'NavBar';
@import 'Button';
@import 'Search';
@import 'Dashboard';
@import 'MainQuestion';
@import 'AskQuestion';

body {
  background: $white;
  margin: 0;
  font-family: $open-sans;
}
