.question-wrapper{
  display: flex;
  flex-direction: column-reverse;
  padding: 8px;
  border: 1px solid $turingGreen;
  .count-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    div {
      text-align: center;
    }
  }
  h4, h5 {
    float: right;
    display: inline-block;
    margin: 10px 0px 0 10px;
  }
  .title-link {
    display: block;
    margin: 5px 0 10px 0;
  }
  .question-tag {
    background: transparentize($turingGreen, .7);
    margin: 5px 5px 5px 0;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background: $turingGreen;
    }
  }
}
