.home-link {
  margin-left: 4px;
  img {
    width: auto;
    height: 40px;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: $darkGrey;
  border-bottom: 4px solid $turingGreen;
}

