.question-desc-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: 1px solid $dark-grey;
  .question-desc-md {
    @include markdown-style;
  }
  .question-desc-title {
    font-size: 1.4em;
    margin: 15px 0;
  }
}
