.search-container {
  display: flex;
  height: 25px;
  margin-right: 10px;
  .search-input {
    height: inherit;
    padding: 0;
    border: none;
    text-indent: 5px;
    transition: all 0.3s;
  }
}
