.tag-link{
  background: transparentize($turing-green, .7);
  margin: 5px 5px 5px 0;
  padding: 3px 6px;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background: $turing-green;
  }
}