.user-vote-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  background: lighten($turing-green, 70%);
  border-radius: 2.5px;
  .detail-user-info {
    font-size: 0.7em;
    margin-right: 5px;
    p {
      text-align: right;
    }
    .detail-user-container {
      display: flex;
      justify-content: flex-end;;
    }
    .user_name {
      margin-right: 10px;
    }
    .user-image {
      height: 30px;
    }
  }
  .vote-details-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    h6 {
      margin: 0;
    }
    .vote-btn-wrapper {
      display: flex;
      align-items: center;
      margin: 5px 0;
    }
  }
}
