@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$main-font: 'Raleway', sans-serif;
$white: #FFF;
$main-background: #c5c5c5;
$default-grey: #2b2e2e;
$dark-grey: #3c4040;
$turing-green: #05c2d1;
$link-color: #049BA7;
$link-hover: #1a78c2;

$normal: 400;
$bold: 700;
$padding-for-nav: 80px;

$turing-logo: url(../images/turing-logo.png) no-repeat;
$magnifier-glass: url(../images/magnifier.svg) no-repeat;
$vote-arrow: url(../images/vote-arrow.svg) no-repeat;
$vote-arrow-hover: url(../images/vote-arrow-hover.svg) no-repeat;

$input-border-green: 2px solid #05c2d1;

@mixin ask-question-input-wrappers {
  display: flex;
  max-width: 600px;
  margin: 10px auto;
  padding: 5px 0;
  height: 30px;
}

@mixin ask-question-labels {
  display: block;
  width: 15%;
  height: inherit;
  line-height: 30px;
  border: 2px solid transparent;
}

@mixin vote-btn {
  height: 20px;
  width: 20px;
  margin: 0px 8px;
  padding: 0;
  background: $vote-arrow;
  border: none;
  &:hover {
    background: $vote-arrow-hover;
  }
}

@mixin markdown-style {
  max-height: 600px;
  margin: 0 auto 25px auto;
  padding: 8px;
  border: 1px solid $turing-green;
  overflow: auto;
  white-space: normal;
  background: $white;
  font-size: 0.9em;
  font-family: $main-font;
}

@mixin editor-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0 10px 0;
  &:after {
    display: table;
    clear: both;
    content: '';
  }
  .ask-question-header {
    margin: 10px 0;
    font-size: 1.4em;
    color: $dark-grey;
  }
  .submit-question--btn {
    max-width: 300px;
    @include btn-styling;
    float: right;
  }
}

@mixin btn-styling {
  display: flex;
  align-items: center;
  padding: 5px 6px 5px 6px;
  background: rgba(5, 194, 209, 0.3);
  border: 0;
  color: $dark-grey;
  text-decoration: none;
  font-size: 0.7em;
  transition: all 0.3s;
  &:after {
    margin: 0px 0px 0px 5px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFF url(../images/right-arrow.svg) no-repeat 6px 5px/0px;
    background-size: 15px 15px;
    transition: all 0.3s;
  }
  &:hover {
    background-color:  $turing-green;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    &:after {
      margin-left: 30px;
    }
  }
}

@mixin loginLogoutBtn {
  display: flex;
  align-items: center;
  padding: 5px 6px 5px 6px;
  margin-right: 10px;
  background: $turing-green;
  border: 0;
  border-radius: 2.5px;
  color: $dark-grey;
  text-decoration: none;
  font-size: 0.7em;
  transition: all 0.3s;
  cursor: pointer;
  &:after {
    margin: 0px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: url(../images/github.svg) no-repeat 2.5px 2.5px/0px;
    background-size: 20px 20px;
    transition: all 0.3s;
  }
  &:hover {
    background-color:  $turing-green;
    border-radius: 10px;
  }
}
