@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$open-sans: 'Open Sans', sans-serif;;
$white: #FFF;
$darkGrey: #3c4040;
$turingGreen: #05c2d1;

$magnifierGlass: url(../images/magnifier.svg) no-repeat;