@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$open-sans: 'Open Sans', sans-serif;;
$white: #FFF;
$main-background: #c5c5c5;
$default-grey: #2b2e2e;
$dark-grey: #3c4040;
$turing-green: #05c2d1;
$link-color: #f46036;
$link-hover: #1a78c2;

$normal: 400;
$bold: 700;

$magnifier-glass: url(../images/magnifier.svg) no-repeat;
$vote-arrow: url(../images/vote-arrow.svg) no-repeat;
$vote-arrow-hover: url(../images/vote-arrow-hover.svg) no-repeat;

$input-border-green: 2px solid #05c2d1;

@mixin ask-question-input-wrappers {
  display: flex;
  margin: 10px auto;
  padding: 5px;
  max-width: 600px;
}

@mixin ask-question-labels {
  display: block;
  width: 15%;
  height: inherit;
  border: 2px solid transparent;
}

@mixin vote-btn {
  height: 20px;
  width: 20px;
  margin: 0px 8px;
  padding: 0;
  background: $vote-arrow;
  border: none;
  &:hover {
    background: $vote-arrow-hover;
  }
}

@mixin markdown-style {
  max-height: 600px;
  max-width: 600px;
  margin: 0 auto 25px auto;
  padding: 5px;
  border: 1px solid $turing-green;
  overflow: auto;
  background: $white
}

@mixin btn-styling {
  display: flex;
  align-items: center;
  padding: 3px 3px 3px 6px;
  background: rgba(5, 194, 209, 0.3);
  border: 0;
  color: $dark-grey;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: $bold;
  transition: all 0.3s;
  &:after {
    margin: 0px 0px 0px 10px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFF url(../images/right-arrow.svg) no-repeat 6px 5px/0px;
    background-size: 15px 15px;
    transition: all 0.3s;
  }
  &:hover {
    background-color:  $turing-green;
    &:after {
      margin-left: 30px;
    }
  }
}
